NODE_ENV=development
PORT=3000
API_TOKEN=demo-credit-test-token
DB_CLIENT=mysql2
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=wallet_user
DB_PASSWORD=wallet_password
DB_NAME=wallet_service
ADJUTOR_BASE_URL=https://adjutor.lendsqr.com/v2
ADJUTOR_API_KEY=replace_with_your_adjutor_api_key
KARMA_CHECK_ENABLED=true
